<%= form_for @user, :multipart => true, :url => users_admin_index_path do |f| %>
  
   <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_field :designation, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% f.hidden_field :role, :value => 'standard' %>

  <%= f.submit "Submit" %>

<% end %>