<h1>Users List</h1>

<table id="user" border="3" layout= "fixed" width=" 100%"  >
  <colgroup>
    <col style="width: 33%" />
    <col style="width: 33%" />
    <col style="width: 33%" />

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th> Company</th>
    <th> Designation</th>
    <th>Actions</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>  
  <tr >
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%=image_tag user.image.url(:thumb)%></td>
    <td><%= user.company %></td>
    <td><%= user.designation %></td>
    <td><%= link_to 'EDIT', root_path %>
        <%= link_to 'VIEW', root_path %></td>
    
  </tr>
<% end %>
 </colgroup>
</table>

<br />

<%= link_to 'ADD New user', new_users_admin_path %>