<% provide(:title, "Sign in") %>
<h1>Send Message</h1>

<div class="row">
  <div class="span 6 offset 3">
    <%= form_tag  compose_email_path, method: :post do %>

      <%= label_tag :email %>
      <%= select_tag :email, options_for_select(teams_email) %><br/><br/>

      <%= label_tag :message %>
      <%= text_area_tag :message %><br/><br/>

      <%= label_tag :image %>
      <%= select_tag :image, options_for_select(image_teams) %><br/><br/>

      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>