<!DOCTYPE html>
<html>
<head>
  <title>Letsgo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>|
  <%= link_to "Send Mail", send_mail_path %>
  <%= link_to 'Fetch Team', fetch_team_path %>
  <%= link_to 'Users', users_admin_index_path if is_admin %> |
  <%= link_to current_user.full_name, root_path %>|
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %>
  <%= link_to 'Log In',  new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>  
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
